/* завдання1 */

.gallery {
    display: flex;
    overflow: hidden;
    width: 320px;
}

.image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.image.active {
    opacity: 1;
}

/* завдання2 */


#boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

#boxes div {
    display: inline-block;
}